<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rails Camp Blog</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <p id="logo"><a href="">RailsCamp<span>Blog</span></a></p>
    <nav>
        <ul>
            <li><a href="">トップ</a></li>
            <li><a href="">新規投稿</a></li>
            <div class="clear"></div>
        </ul>
    </nav>
    <div class="clear"></div>
    </header>
    <%= yield %>
  </body>
</html>
